/*infinite-scroll*/

.infinite-scroll {
    height: 233px;
    width: 3550px;
    margin-bottom: 80px;

    -webkit-animation: moveImage 30s linear infinite;
    -moz-animation: moveImage 30s linear infinite;
    -ms-animation: moveImage 30s linear infinite;
    -o-animation: moveImage 30s linear infinite;
    animation: moveImage 30s linear infinite;
}

.infinite-scroll:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
}

.infinite-scroll img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.infinite-scroll img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;

    -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

/*keyframe animations*/

@keyframes moveImage {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }

}

@-moz-keyframes moveImage {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }

}

@-webkit-keyframes moveImage {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }

}

@-ms-keyframes moveImage {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }

}

@-o-keyframes moveImage {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: -2125px;
    }

}